# Virtuelle Umgebung
venv/
.venv/
./venv
venv-omoppdiary/

# Python-Cache
__pycache__/
*.pyc

# SQLite-Datenbank später nicht mitpushen, da privat
#*.db

# Umgebungsvariablen später nicht mitpushen, da womöglich lokal anders
# .env

# VSCode-Ordner
.vscode/

# Flask instance-Ordner (z.B. für config oder DB)
instance/

# DB Migration
migrations/

